<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="/static/logo-caterva2-16x16.png">

    {# bootstrap #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>

    {# Project's assets #}
    <script src="/static/main.js"></script>
    <link href="/static/main.css" rel="stylesheet">
</head>

<body class="vh-100 d-flex align-items-center">
    <main class="card m-auto" style="width: 450px" id="page-login">
        <div class="card-body">
            <img src="/static/logo-caterva2-horizontal-small.png" alt="Caterva2 logo" id="logo" class="mb-4">
            {% block main %}
            {% endblock %}
        </div>
    </main>
</body>

</html>
