{% extends "base_anon.html" %}

{% block title %}Reset password{% endblock %}

{% block main %}

<h5 class="card-title float-end">Reset password</h5>

<div id="result" class="alert alert-danger" style="display: none"></div>

<form action="{{ url('auth/forgot-password') }}" method="post"
      onsubmit="submitFormAsJSON(this, '{{ url("login") }}'); return false"
>
    <div class="form-floating mb-2">
        <input type="email" name="email" class="form-control" placeholder="" required>
        <label class="form-label">Email address</label>
    </div>
    <button type="submit" class="btn btn-primary">Reset</button>
</form>

<p class="mt-2">
<a href="{{ url('login') }}">Sign in</a>
</p>

{% endblock %}

