<form class="mb-2">
    {% for input in inputs %}
    <div class="form-floating d-inline-block mt-2">
        <input type="number" name="index" value="{{ input.value }}" size="5"
               class="form-control" id="input-{{ loop.index0 }}" placeholder=""
               hx-post="{{ view_url }}" hx-target="#info-view"
               {% if input.step %}
               min="0" max="{{ input.max }}" step="{{ input.step }}"
               {% else %}
               readonly
               {% endif %}
               >
        <label for="input-{{ loop.index0 }}">dim {{ loop.index0 }}</label>
    </div>
    {% endfor %}

    {% for input in inputs_size %}
    <div class="form-floating d-inline-block mt-2">
        <input type="number" name="size" value="{{ input.value }}" size="10"
               class="form-control" id="input-{{ loop.index0 }}" placeholder=""
               hx-post="{{ view_url }}" hx-target="#info-view"
               min="0" max="{{ input.max }}"
               >
        <label for="input-{{ loop.index0 }}">size for dim {{ input.ndim }}</label>
    </div>
    {% endfor %}
</form>

<table class="table table-sm">
    <tbody>
    {% for row in rows %}
        <tr>
        {% for value in row %}
            <td>{{ value }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
