<h3>{{ path }}</h3>

<ul class="nav nav-tabs">
    <li class="nav-item" role="presentation">
        <button type="button" class="nav-link active" id="metadata-tab"
                data-bs-toggle="tab" data-bs-target="#metadata-tab-pane"
                role="tab" aria-controls="metadata-tab-pane" aria-selected="true">
            Metadata
        </button>
    </li>
    {% if display %}
    <li class="nav-item" role="presentation">
        <button type="button" class="nav-link" id="display-tab"
                data-bs-toggle="tab" data-bs-target="#display-tab-pane"
                role="tab" aria-controls="metadata-tab-pane" aria-selected="false">
            Display
        </button>
    </li>
    {% endif %}
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="metadata-tab-pane" tabindex="0"
         role="tabpanel" aria-labelledby="tab-metadata">
        {% include 'info_metadata.html' %}
    </div>
    {% if display %}
    <div class="tab-pane fade" id="display-tab-pane" tabindex="0"
         role="tabpanel" aria-labelledby="tab-display"
         hx-get="/plugins/{{ display.name }}/display/{{ path }}" hx-trigger="load">
    </div>
    {% endif %}
</div>
