{% extends "base_anon.html" %}

{% block title %}User login{% endblock %}

{% block main %}

{% if username %}
<div class="alert alert-info">
    <strong>Note:</strong> You are already logged in as {{ username }}.
    <a href="/logout">Logout</a>.
</div>
{% endif %}

<h4>Please sign in</h4>
<form action="/auth/jwt/login" method="post" onsubmit="submitForm(this, '/'); return false">
    <div class="form-floating mb-2">
        <input type="email" name="username" class="form-control" placeholder="">
        <label class="form-label">Email address</label>
    </div>
    <div class="form-floating mb-2">
        <input type="password" name="password" class="form-control" placeholder="">
        <label class="form-label">Password</label>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>

<p class="mt-2">
<a href="/register">Register as a new user</a>
</p>

<div id="result"></div>

{% endblock %}
