{% extends "base_anon.html" %}

{% block title %}User login{% endblock %}

{% block main %}

<h5 class="card-title float-end">Sign in</h5>

<div id="result" class="alert alert-danger" style="display: none"></div>

<form action="/auth/jwt/login" method="post" onsubmit="submitForm(this, '/'); return false">
    <div class="form-floating mb-2">
        <input type="email" name="username" class="form-control" placeholder="" required>
        <label class="form-label">Email address</label>
    </div>
    <div class="form-floating mb-2">
        <input type="password" name="password" class="form-control" placeholder="" required>
        <label class="form-label">Password</label>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>

<p class="mt-2">
<a href="/register">Register as a new user</a>
</p>

{% endblock %}
