<!DOCTYPE html>
<html>
<head>
    <title>User logout</title>

    <link rel="icon" type="image/png" href="/static/logo-caterva2-16x16.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <script src="/static/main.js"></script>
    <link href="/static/main.css" rel="stylesheet">
</head>

<body class="vh-120">

<!-- Main section -->
{% if username %}
<div class="alert alert-info">
    Logged in as {{ username }}.
</div>
{% endif %}
<div id="page">
    <form action="/auth/jwt/logout" method="post" onsubmit="submitForm(this, '/'); return false">
        <button type="submit" class="btn btn-primary">Logout</button>
    </form>
</div>
<div id="error"></div>

</body>
</html>
