<!--- Search box --->
<form class="d-flex" method="get" action="/roots/{{root}}/" hx-boost="true" hx-target="#content">
    <input class="form-control me-2" id="autocomplete" name="search" type="search"
           placeholder="Search" aria-label="Search" value="{{ search }}">
    <button class="btn btn-outline-success" type="submit" onclick="search()">Search</button>
</form>

<div class="h-75 overflow-scroll mt-1 list-group">
    {% for path in paths %}
        <a href="/roots/{{root}}/{{path}}/" hx-boost="true" hx-target="#meta"
           class="list-group-item list-group-item-action">
            {{path}}
        </a>
    {% endfor %}
</div>
