{% extends "base_anon.html" %}

{% block title %}User registration{% endblock %}

{% block main %}

<h5 class="card-title float-end">Register</h4>

<div id="result" class="alert alert-danger" style="display: none"></div>

<form action="/auth/register" method="post" onsubmit="submitFormAsJSON(this, '/login'); return false">
    <div class="form-floating mb-2">
        <input type="email" name="email" class="form-control" placeholder="" required>
        <label class="form-label">Email address</label>
    </div>
    <div class="form-floating mb-2">
        <input type="password" name="password" class="form-control" placeholder="" required>
        <label class="form-label">Password</label>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>

<p class="mt-2">
<a href="/login">Sign in if you already have an account</a>
</p>

{% endblock %}

