<a href="{{ url('') }}" class="mx-2">
    <img src="{{ brand.logo }}" alt="Logo" id="logo">
</a>

<form hx-get="{{ url('htmx/path-list/') }}"
      hx-target="#path-list"
      hx-trigger="change"
      hx-include="#query-search"
      hx-indicator="#path-list-wrapper .htmx-indicator"
      hx-on:htmx:before-request="clearContent('#path-list');"
      style="width: max-content"
>

    Roots:

    {% if user %}
        {% with name="@personal", upload=True %}
            {% set title="This special root contains the results of calculations done by the user" %}
            {% include 'includes/root.html' %}
        {% endwith %}

        {% with name="@shared", upload=True %}
            {% include 'includes/root.html' %}
        {% endwith %}

    {% endif %}

    {% with name="@public", upload=user  %}
        {% include 'includes/root.html' %}
    {% endwith %}

    {% for name in mounted %}
    <div class="d-flex gap-1 justify-content-between">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="roots"
                   value="{{ name }}" {{ "checked" if name in checked }}
                   onchange="return onMountedRootToggle(event, this.value)"
                   id="id_root_mounted_{{ loop.index }}">
            <label class="form-check-label" for="id_root_mounted_{{ loop.index }}"
                   title="{{ name }}">{{ name.split('/')[-1] }}</label>
        </div>
        <i class="fa-solid fa-xmark" role="button" title="Unmount"
           data-name="{{ name }}" onclick="unmountRoot(this.dataset.name)"></i>
    </div>
    {% endfor %}

</form>

<script>
function dropHandler(ev) {
    ev.preventDefault();
    const input = ev.target.closest('div').querySelector('input');
    input.files = ev.dataTransfer.files;
    input.dispatchEvent(new Event('change'));
}
function dragoverHandler(ev) {
    ev.preventDefault();
    ev.target.closest('div').classList.add('active');
}
function dragleaveHandler(ev) {
    ev.preventDefault();
    ev.target.closest('div').classList.remove('active');
}
</script>
