<a href="/">
    <img src="/static/logo-caterva2-horizontal-small.png" alt="Caterva2 logo" id="logo">
</a>

Roots:

<form hx-get="/htmx/path-list/"
      hx-target="#path-list"
      hx-trigger="change"
      hx-include="#query-search"
      hx-indicator="#path-list-wrapper .htmx-indicator"
      hx-on:htmx:before-request="clearContent('path-list');">

    {% for root in roots %}
    <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="roots" value="{{ root.name }}" {{ "checked" if root.name in checked }}
               id="id_root_{{ root.name }}">
        <label class="form-check-label" for="id_root_{{ root.name }}">{{ root.name }}</label>
    </div>
    {% endfor %}

</form>
